# =========================
# Python
# =========================
backend/venv/
backend/__pycache__/
backend/**/*.pyc
backend/.pytest_cache/
backend/.mypy_cache/

# Environment
backend/.env
frontend/.env

# Uploads
backend/uploads/
backend/chroma_db/

# Logs
*.log

# VS Code
.vscode/

# =========================
# Node
# =========================
frontend/node_modules/
frontend/dist/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db