html,
body,
#root {
  width: 100%;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family:
    Inter,
    "Segoe UI",
    sans-serif;

  background: linear-gradient(
      135deg,
      #0f172a,
      #111827,
      #0f172a
  );

  color: var(--text-primary);

  overflow-x: hidden;

  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  font-family: inherit;
}

input,
textarea,
select,
button {
  outline: none;
}

img {
  max-width: 100%;
  display: block;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0f172a;
}

::-webkit-scrollbar-thumb {
  background: #4f46e5;
  border-radius: 20px;
}

::selection {
  background: #6366f1;
  color: white;
}